body {
    background-color: rgba(30, 245, 23, 0.589);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #1ebb19f1;
    color: #8cfd588c;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #040803de;
}

footer p {
    font-size: 0.8em;
}
